#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  background-color: rgba(0, 0, 0, 0.75);
}

#about,
#about section,
#about .section-header {
  color: white;
}

#about section,
#about .section-header {
  background-color: transparent;
}

#about-content {
  display: flex;
  align-items: center;
  height: 100%;
}

#about-content-image,
#about-content-text {
  width: 50%;
}

#about-content-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#about-content-image img {
  height: 100%;
  border-radius: 0.5rem;
}

#about-content-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 3rem;
}

#about-text {
  margin-bottom: 2rem;
}
